/* Gradient background with animation */
.gradient-background {
  height: 100vh;
  background: linear-gradient(150deg, #cc95c0, #dbd4b4, #7aa1d2);
  background-size: 180% 180%;
  animation: gradient-animation 3s ease infinite;
  position: relative;
}

/* Keyframes for smooth background animation */
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
